<% content_for :page_title, "Новий турнір" %>

<div class="max-w-2xl">
  <div class="bg-white rounded-xl shadow-sm border border-gray-200 p-6">
    <%= render 'form', tournament: @tournament %>
  </div>
</div>
