h1.text-2xl.font-bold.mb-4 Strava Segments

- if @segments.any?
  ul.divide-y.divide-gray-300
    - @segments.each do |segment|
      li.py-4
        h2.text-xl.font-semibold = segment.name
        p
          strong ID:
          = " #{segment.strava_id}"
        p
          strong Distance:
          = " #{segment.distance} meters"
        p
          strong Avg Grade:
          = " #{segment.average_grade}%"
        p
          strong Max Grade:
          = " #{segment.maximum_grade}%"
        p
          strong Elevation:
          = " #{segment.elevation_low}m → #{segment.elevation_high}m"
        p
          strong Start:
          = " [#{segment.start_latitude}, #{segment.start_longitude}]"
        p
          strong End:
          = " [#{segment.end_latitude}, #{segment.end_longitude}]"
- else
  p No segments found.
